body {
    align-content: center;
    justify-content: center;
    align-items: center;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    max-width: 256px;
    max-height: 256px;
   box-sizing: border-box;
   outline: 1px solid black;
}